
    
body{background-color: blanchedalmond;}

h2{text-align:center;background-color: greenyellow;font-size: 70px; color: palevioletred;  border: 10px solid powderblue;}
h3{font-size: 40px;color: palevioletred;border: 10px solid powderblue;}

h4{color: palevioletred; font-family: 'Times New Roman', Times, serif;font-weight: bold;}
.intro {color: palevioletred; font-family: 'Times New Roman', Times, serif;font-weight: bold;}
.intro2 {color: palevioletred; font-family: 'Times New Roman', Times, serif;font-weight: bold;}
.intro3 {color: palevioletred; font-family: 'Times New Roman', Times, serif;font-weight: bold;}

    -->